@{
    Layout = "_MasterAuth";
}
    <div class="registration">
        <div class="registration__inner">
            <h1 class="registration__title">Восстановление пароля</h1>
            <div class="registration__form">
                <h2 class="registration__title">На вашу почту было отправлено письмо!Проверьте его для смены пароля.</h2>
                <a href="/Account/Login">
                    <input class="button__registr" type="submit" value="Войти"/>
                </a>
            </div>
        </div>
    </div>