@{ 
    Layout = "_MasterAuth";
}

<div class="registration">
    <div class="registration__inner">
        <h1 class="registration__title">Восстановление пароля</h1>
        <div class="registration__form">
            <p class="registration__title">
                Ваш пароль сброшен. Для входа в приложение перейдите по <a asp-action="Login" asp-controller="Account">ссылке</a>.
            </p>
        </div>
    </div>
</div>