@model ResetPassVM
@{
    Layout = "_MasterAuth";
}
<div class="registration">
    <div class="registration__inner">
        <h1 class="registration__title">Восстановление пароля</h1>
        <div class="registration__form">
            <form asp-action="ResetPassword" asp-controller="Account" asp-anti-forgery="true">
                @Html.ValidationSummary(false)
                <label class="subtitle__email-registr">
                    Password
                </label>
                <input asp-for="Email" type="hidden" class="email__input-registr" id="email" name="Email" />
                <input asp-for="Password" type="password" class="email__input-registr" id="email" name="Password" />
                <label class="subtitle__email-registr">
                    Confirm Password
                </label>
                <input asp-for="ConfirmPassword" type="password" class="email__input-registr" id="email" name="ConfirmPassword" />
                <button class="button__registr" type="submit">Сбросить</button>
            </form>
        </div>
    </div>
</div>