@model FindMe2.ViewModels.EditProfileVM
@{
    Layout = "_MasterMain";
}
    <section class="proff">

        <div class="header__proff">
            <h2 class="proff__title">Мой профиль</h2>
        </div>

        <div class="info__proff">
            <div class="avatar__proff">
                <img class="img__proff" src="@Model.Picture" alt="avatar">
                <div class="tags__proff">

                    <h4 class="tags__title">
                        <a data-id="popupProff" href="#" class="tags__proff-link">Мои теги:</a>
                    </h4>
                    @foreach (var tag in Model.tags)
                    {
                        <a class="tag__link" href="#">#@tag</a>
                    }
                </div>
            </div>
            <form class="form_proff" asp-action="EditProfile" asp-controller="Home" method="Post">
                @Html.ValidationSummary(false)
                <div class="group__form">
                    <label>Логин</label>
                    <input type="text" name="Login" asp-for="Login" value="@Model.Login">
                    

                </div>

                <div class="group__form">
                    <label>Email</label>
                    <input type="text" name="Email" asp-for="Email" value="@Model.Email">
                    

                </div>
                <button class="btn__prof">Сохранить</button>
            </form>

        </div>
    </section>