@{
    Layout = "_MasterMain";
}
    <article class="content">
        <div class="content__inner">
            <div class="content__add">
                <form>
                    <input type="text" class="new__add" placeholder="Что у вас нового?">
                </form>
            </div>
            <div class="tags">
                <ul class="name__tags">
                    <li>
                        <a class="user__link name__tags-link" href="Мои теги"><span data-content="Мои теги">Мои теги</span></a>
                        <!-- <ul class="user__tags">
                      <li><a class="user__link user__link-sub" href="#">#люди</a></li>
                      <li><a class="user__link user__link-sub" href="#">#мир</a></li>
                      <li><a class="user__link user__link-sub" href="#">#техника</a></li>
                    </ul> -->
                    </li>
                    <li>
                        <a class="user__link name__tags-link" href=""><span data-content="Популярные теги">Популярные теги</span></a>
                        <ul class="popular__tags">
                            <li><a class="user__link pop__link-sub" href="#">#люди</a></li>
                            <li>
                                <a class="user__link pop__link-sub"
                                   href="#">#страны</a>
                            </li>
                            <li><a class="user__link pop__link-sub" href="#">#программирование</a></li>
                            <li><a class="user__link pop__link-sub" href="#">#мир</a></li>
                            <li><a class="user__link pop__link-sub" href="#">#спорт</a></li>
                            <li><a class="user__link pop__link-sub" href="#">#природа</a></li>
                            <li><a class="user__link pop__link-sub" href="#">#техника</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="user__link name__tags-link" href="#"><span data-content="По локации">По локации</span></a>
                        <!-- <ul class="location__tags">
                      <li><a class="user__link loc__link-sub"  href="#">#люди</a></li>
                      <li><a class="user__link loc__link-sub"
                       href="#">#страны</a></li>
                      <li><a class="user__link loc__link-sub" href="#">#программирование</a></li>
                      <li><a class="user__link loc__link-sub" href="#">#мир</a></li>
                      <li><a class="user__link loc__link-sub" href="#">#спорт</a></li>
                      <li><a class="user__link loc__link-sub" href="#">#природа</a></li>
                      <li><a class="user__link loc__link-sub" href="#">#техника</a></li>
                    </ul> -->
                    </li>
                </ul>
            </div>
            <section class="cards">

                <div class="card">

                    <div class="card__header">
                        <div class="avatar__card avatar__card-ekaterina"></div>
                        <div class="card__name">
                            <span class="name">Ekaterina</span>
                            <span class="data">создано 23.03.2020</span>
                        </div>
                    </div>
                    <div class="card__content">
                        <img src="/images/cards/Ekaterina content .jpg" alt="food">
                    </div>
                    <div class="card__footer">

                        <div class="icon__favorites"></div>
                        <div class="icon__message"></div>
                        <span class="text__subscribers">852</span>

                    </div>
                </div>

                <div class="card">

                    <div class="card__header">
                        <div class="avatar__card avatar__card-vasya"></div>
                        <div class="card__name">
                            <span class="name">Vasya</span>
                            <span class="data">создано 21.01.2020</span>
                        </div>
                    </div>
                    <div class="card__content">
                        <img src="/images/cards/Vasya content.jpg" alt="food">
                    </div>
                    <div class="card__footer">

                        <div class="icon__favorites"></div>
                        <div class="icon__message"></div>
                        <span class="text__subscribers">52</span>

                    </div>
                </div>

                <div class="card">

                    <div class="card__header">
                        <div class="avatar__card avatar__card-elena"></div>
                        <div class="card__name">
                            <span class="name">Elena</span>
                            <span class="data">создано 13.02.2020</span>
                        </div>
                    </div>
                    <div class="card__content">
                        <img src="/images/cards/Elena content.jpg" alt="food">
                    </div>
                    <div class="card__footer">

                        <div class="icon__favorites"></div>
                        <div class="icon__message"></div>
                        <span class="text__subscribers">562</span>

                    </div>
                </div>

                <div class="card">
                    <div class="card__header">
                        <div class="avatar__card avatar__card-boris"></div>
                        <div class="card__name">
                            <span class="name">Boris</span>
                            <span class="data">создано 20.01.2020</span>
                        </div>
                    </div>
                    <div class="card__content">
                        <img src="/images/cards/Boris content.jpg" alt="food">
                    </div>
                    <div class="card__footer">
                        <div class="icon__favorites"></div>
                        <div class="icon__message"></div>
                        <span class="text__subscribers">867</span>
                    </div>
                </div>

                <div class="card">
                    <div class="card__header">
                        <div class="avatar__card avatar__card-boris"></div>
                        <div class="card__name">
                            <span class="name">Boris</span>
                            <span class="data">создано 20.01.2020</span>
                        </div>
                    </div>
                    <div class="card__content">
                        <img src="/images/cards/Boris content.jpg" alt="food">
                    </div>
                    <div class="card__footer">
                        <div class="icon__favorites"></div>
                        <div class="icon__message"></div>
                        <span class="text__subscribers">867</span>
                    </div>
                </div>
            </section>
        </div>
    </article>
<aside class="aside__right">
    <ul class="people__block">
        <li><a class="people__link" href="#">Все</a></li>
        <li><a class="people__link" href="#">Новости</a></li>
        <li><a class="people__link" href="#">Люди</a></li>
        <li><a class="people__link" href="#">Комнаты</a></li>
    </ul>
</aside>
