@model FindMe2.ViewModels.AllTags
<section id="popupProff" class="popup__block">
    <div class=" search popup__search">
        <form action="">
            <input type="text" class="input input__popup" placeholder="Поиск по #тегов">
            <button type="submit" class="btn btn__popup"></button>
        </form>
    </div>
    <div class="tags popup__tags">
        <ul class="tags__list tags__list-popup">
            <li>
                <a class="users__link" id="my_tags_id" href="#"><span class="users__popup" data-content="Мои теги">Мои теги</span></a>
                <ul class="user__tags user__tags-popup" style="visibility:visible">
                    @foreach (var item in Model.user_tags)
                    {
                        <li><a class="user__link user__link-sub popup popup__user" id="@item.id" href="#">#@item.Title</a></li>
                    }
                </ul>
            </li>
            <li>
                <a class="users__link" id="pop_tags_id" href="#"><span class="users__popup" data-content="Популярные теги">Популярные теги</span></a>
                <ul class="popular__tags popular__tags-popup" style="visibility:hidden">
                    @foreach (var item in Model.pop_tags)
                    {
                        <li><a class="user__link pop__link-sub popup" id="@item.id" href="#">#@item.Title</a></li>
                    }
                </ul>
            </li>
        </ul>
    </div>
    <div class="popup__close">
        <span id="close__link" class="close__link">Закрыть</span>
    </div>
</section>
