.site {
    
    width: 100%;
    height: 100vh;
    background-color: var(--indigo);
   
    
}
.header {
    width: 100%;
    background-color: var(--rebeccapurple);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

}
.header__inner-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}
.header__logo {
    margin: 10px 10px 5px 10px;
}


.search{
    display: inline-block;
    position: relative; 
}
.header__search {  
    margin-left: 35px;
}
.input{  
    background-color: var(--indigo);
    appearance: none;
    outline: none;
    border: none;
    border: 1px solid  var(--indigo);
    border-radius: 20px;
    
    font-family: var(--serif);
    font-style: normal;
    font-weight: 400;
    font-size: calc(var(--srf) * 0.9);
    padding-left: calc(var(--srf) * 0.9);
    color: var(--grey);
    
    
    transition: .3s linear;
}
.input__search{
    width: 270px;
    height: 40px; 
    
}

.input__search:focus{
    width: 350px;
    
}
.btn{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;   
    background-image: var(--search);
    background-repeat: no-repeat;
    background-size: contain; 
    cursor: pointer;
}

.btn:focus{
   display: none;
}

.header__inner-right {
    max-width: 200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
    flex-wrap: nowrap;
    position: relative;
   
}
.header__location {
    width: 28px;
    height: 28px;
    background-image: var(--map-pin);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
    cursor: pointer;
   
}
.location__link {
    position: absolute;
    top: 30px;
    left: 32px;
    text-decoration: none;
    font-family: var(--serif);
    font-style: normal;
    font-weight: 400;
    font-size: (--srf);
    color: var(--grey);
      
}
.header__notification { 
    width: 28px;
    height: 28px;
    background-image: var(--bell);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
 
    cursor: pointer;
}
.notification__link {
    position: absolute;
    top: 30px;
    right: 28px;
    text-decoration: none;
    font-family: var(--serif);
    font-style: normal;
    font-weight: 400;
    font-size: (--srf);
    color: var(--grey);
}
.header__notification:hover{
    background-image: url(/icon/bell_hover.svg);
    transition: all .4s ease;
}
.header__location:hover{
    background-image: url(/icon/map-pin__hover.svg);
    transition: all .4s ease;
    
}
.notification__link:hover,
.location__link:hover{
    color: var(--lime);
    transition: all .4s ease;
}

.general {
    max-width: 1920px;
    width: 100%; 
    margin: auto
    
}
.general__inner {
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 15px;
    
}
.aside__right,
.aside__left,
.users {
    width: 235px;
    height: 700px;
    background: var(--white);
    border-radius: 15px;
    
    
}
.user__block,
.people__block{
    font-family: var(--sans);
    font-style: normal;
    font-weight: 500;
    font-size: calc((--srf ) * 1.5);
    
}
.user__block li,
.people__block li{
    padding-bottom: 22px;  
    
}
.user__block li:first-child,
.people__block li:first-child{
    padding-top: 22px;

}


.block__link,
.people__link {
    color: var(--indigo);
    padding-left: 20px;
          
}
.block__link:hover,
.block__link:active,
.people__link:hover,
.people__link:active{
    
    font-weight: 500;
    transition: 0.4s ease;
}

.content {
    max-width: 1300px;
    width: 100%;
}
.content__inner {
    margin: 0 20px;
}
.content__add{
    
}
.new__add {
    width: 100%;
    font-family: var(--sans);
    font-style: normal;
    font-weight: 500;
    font-size: calc(var(--srf ) * 1.25);
    color: var(--light-grey);
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px;

}
.tags {
    width: 100%;
    margin-top: 20px;
       
}
.tags__list{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
        
}

.users__link{ 
    width: 100%;
    display: inline-block;
    margin-right: 20px;

    font-family: var(--sans);
    font-style: normal;
    font-weight: 500;
    font-size: calc(var(--srf ) * 1.5);
    white-space: nowrap;
    text-decoration: none;
    color: var(--grey);
    
    transition: clip-path 500ms ease;  
    
}

.users__link:hover span::before{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.users__link span{
    position: relative;
    display: inline-block;
    color: var(--grey);
    font-weight: 500;

}
.users__link span::before{
    position: absolute;
    content: attr(data-content);
    color: var(--lime);
   
    text-decoration: underline;
    -webkit-text-decoration-color: var(--lime);
            text-decoration-color: var(--lime);
    -webkit-clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
            clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    -webkit-transition: -webkit-clip-path 500ms ease;
    transition: -webkit-clip-path 500ms ease;
    transition: clip-path 500ms ease;
    transition: clip-path 500ms ease, -webkit-clip-path 500ms ease;
}

.user__tags,
.popular__tags,
.location__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    position: absolute;
    margin-top: 10px;
    position: absolute;
    left: -10px;
        
}

.user__link-sub,
.pop__link-sub,
.loc__link-sub{
    display: inline-block;
    font-family: var(--serif);
    font-style: normal;
    font-weight: 400;
    font-size: var(--srf);

    color: var(--grey);
    border: 1px solid var(--grey);
    border-radius: 15px;
    padding: 5px 10px;
    margin-left: 10px;
    margin-top: 10px;
      
}
.user__link-sub:hover,
.pop__link-sub:hover,
.loc__link-sub:hover{

    font-weight: 400;
    color: var(--lime);
    border: 1px solid var(--lime);
    transition: 0.4s ease;
   
}
 
