.cards {
    max-width: 1300px;
    
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start; */
    margin-top: 60px;
    
      
}

.card {
    width: 250px;
    height: auto;
    margin: 10px 10px;
    background-color: #fff;
    border-radius: 10px;
       
}
.card__header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    
}


.avatar__card {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.avatar__card-ekaterina {
    background-image: url(/images/cards/Ekaterina\ 2x.jpg);

}
.avatar__card-vasya {
    background-image: url(/images/cards/Vasya\ 2x.jpg);
}
.avatar__card-elena {
    background-image: url(/images/cards/Elena\ 2x.jpg);

}
.avatar__card-boris {
    background-image: url(/images/cards/Boris\ 2x.jpg);
}
.card__name {
    display: flex;
    flex-direction: column;
    margin: 10px;

}
.name {
    font-family: var(--serif);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    
    color: var(--indigo);
}
.data {
    font-family: var(--serif);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    
    color: var(--grey);
}
.card__content {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
   
}
.card__content-title {
    font-family: var(--sans);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin: 0 0 10px 0;
    padding: 0 10px;
    color: var(--indigo);

}
.card__content-text {
    font-family: var(--serif);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 0 10px;
    color: var(--rebeccapurple);
}
.card__content-img {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
   

}
.card__content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top: 10px;
 

}
.card__content-tags{
    max-width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
    
}
.card__content-tag li{
    display: inline-block;

}
.card__content-sub{
    font-size: 14px;
    border: none;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    margin-right: 5px;
    
}
.card__content-sub:hover{
    color: var(--indigo);
    transition: all .3s ease-in;
}
.card__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 7px 0;
}

.icon__favorites {
    background-image: url("data:image/svg+xml,(%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z' stroke='%23ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
    transition: all .3s ease-in;

    
    
}
.icon__favorites:hover{
    fill: var(--lime);
    cursor: pointer;
    
    
}

.icon__message {
    content: url(/images/cards/message.svg);
    cursor: pointer;
    
}
.text__subscribers {
    font-family: var(--serif);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    color: var(--grey);
}
