.users{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 10px;
    
  
}
.users__input {
    width: 220px;
    height: 30px;
  
    font-size: calc(var(--srf) * 0.8);
    padding: calc(var(--srf) * 0.9);

}


.users__add {
    margin-top: 10px;
    padding: 10px 15px;
    position: relative;
      
}
.users__add  a{
    font-family: var(--sans);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
   
    color: var(--grey);

}
.users__add a::after{
    content: '';
    width: 20px;
    height: 20px;
    background-image: var(--plus-circle);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    right: 5px;
       
}
.users__add  a:hover{
    color: var(--indigo);
    transition: all .5s ease;
}
.users__add a:hover::after{
    transition: all .5s ease;
    background-image: var(--plus-circle-indigo);
    
}
.users__group,
.area {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    
}
.users__list {
    
  
   
}
.users__name{
    position: relative;
    border-radius: 15px;
    padding: 10px;
    
    
    
}
.users__name:hover{
    background-color: var(--indigo);
    transition: all .5s ease-in;
    cursor: pointer;
}

.users__img {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
      
}
.link{
   position: absolute;
    margin-left: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: var(--rebeccapurple);
   
}

.users__loco {
    position: absolute;
    margin-left: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    margin-top: 20px;
    color: var(--grey);
}


.messenger {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    background: var(--white);
    margin-left: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
   
    


}
.messenger__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid var(--rebeccapurple);
}
.messenger__avatar {
    
   
   
}
.messenger__link {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
.messenger__name{
    font-family: var(--serif);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: var(--lime);

}
.messenger__item{
    display: flex;
    align-items: center;

}
.messenger__hookup {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    background-image: var(--pushpin);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}
.messenger__hookup:hover{
    background-image: var(--pushpin-hover);
    transition: .3s linear;
}
.messenger__add {
    width: 23px;
    height: 23px;
    margin-right: 20px;
    background-image: var(--user-plus);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}
.messenger__add:hover{
    background-image: var(--user-plus-hover);
    transition: .3s linear;
}

.messenger__input {
    width: 250px;
    height: 30px;

}

.messenger__chat {
    flex: 1 0 auto;
    max-height: 595px;
    overflow-y: auto;
    overflow-x: hidden;
    
}
.chat__data { 
    width: 100px;
    margin: 10px auto;
    font-family: var(--serif);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 3px 10px ;
    text-align: center;
    border: 1px solid var(--grey);
    border-radius: 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    color: var(--grey);
    
}

.chat__user {
    display: flex;
    flex-direction: row;
    padding: 20px  50px  20px 20px;
    border-bottom: 1px solid  rgba(51, 0, 51, 0.2);
    

}
.chat__user-messeng{
    display: flex;
    flex-direction: row-reverse;
    padding: 20px  20px  20px 50px;
    border-bottom: 1px solid rgba(51, 0, 51, 0.2);
}
.chat__avatar {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.chat__avatar-messeng{
    width: 20%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;

}
.chat__link{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
   
}
.chat__link-messeng{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}
.chat__img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}
.chat__time {
    margin-bottom: 5px;
    font-family: var(--serif);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
   
    color: var(--grey);
}
.chat__name {
    font-family: var(--sans);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
   
    color: var(--indigo);
}

.chat__name:hover{
    color: var(--lime);
    transition: all .3s linear;
}

.chat__loco{
    font-family: var(--sans);
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    
    color: var(--grey);

}


.chat__messenger {
    width: 63%;
    padding-top: 50px;
   
    
}
.chat__icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    background-image: var(--more);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    
}
.chat__icon:hover{
    background-image: var(--more-hover);
    transition: all .5s linear;

}

.chat__text {
    font-family: var(--sans);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    color: var(--indigo);
}



.messenger__footer {
    flex: 0 0 auto;
    border-top: 1px solid  rgba(51, 0, 51, 1);
    position: relative;
}
.footer__chatline{
    width: 100%;
    height: 60px;
    text-align: center;
    
    
    
}
.footer__form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.icon__fadd{
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    background-image: var(--plus-circle);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 7px;
    margin-right: 20px;
    cursor: pointer;
}
.icon__fadd:hover{
    background-image: var(--plus-circle-indigo);
    transition: all .3s ease;
}
.footer__chat {
    width: 80%;
    height: 40px;
    margin-top: 10px;
    
    background-color: var(--light-grey);
    appearance: none;
    outline: none;
    border: 1px solid  var(--grey);
    border-radius: 20px;

    font-family: var(--serif);
    font-style: normal;
    font-weight: 400;
    font-size: calc(var(--srf) * 0.9);
    padding-left: calc(var(--srf) * 0.9);
    color: var(--indigo);
   
    
    transition: .3s linear;
}
.btn__chat {
    width: 25px;
    height: 25px;
    background: none;
    border: none;
    background-image: var(--smile);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -35px; 
    margin-top: 8px;
    cursor: pointer;

}
.btn__chat:hover {
    background-image: var(--smile-hover);
    transition: all .5s ease;
}

.icon__microphone{
    width: 25px;
    height: 25px;
    background-image: var(--mic);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px; 
    margin-top: 8px;
    cursor: pointer;
  
}
.icon__microphone:hover{
    background-image: var(--mic-hover);
    transition: all .5s ease;
}


