.popup__block {
    position: fixed;
    top: 10%;
    left: 40%;
    display: none;
    flex-direction: column;
    align-items: center;
    
    width: 600px;
    height: 650px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: var(--light-grey);
    border: 2px solid var(--rebeccapurple);
    padding: 20px 30px;
    z-index: 10000;
    
}
.input__popup {
    width: 370px;
    height: 40px;
    margin-bottom: 20px;
   
}

.popup__tags{
    flex: 1 0 auto; 
    overflow-y: scroll;  
    overflow-x: hidden;
    margin-bottom: 15px;
}
.tags__list-popup{
  width: 100%;
   
}
.users__link{
    font-size: 18px; 

}
span.users__popup{
    font-weight: 600;
    color: var(--rebeccapurple);
}
.popup{
    display: inline-block;
    font-family: var(--serif);
    font-style: normal;
    font-weight: 400;
    font-size: var(--srf);

    color: var(--grey);
    border: 1px solid var(--grey);
    border-radius: 15px;
    padding: 5px 10px;
    margin-left: 10px;
    margin-top: 10px;
    transition: all .5s ease;
}

.popup__icon{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: var( --plus-circle);
    transition: all .5s ease;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    margin-left: 20px;
    transition: all .5s ease;
    
}
/* .popup:hover > .popup__icon{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: var(--plus-circle-indigo);
    transition: all .5s ease;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    margin-left: 20px;
}

.popup:hover{
    border: 1px solid var(--indigo);
    font-weight: 400;
    color: var(--indigo);
    transition: all .5s ease;
} */
.popup-active{
    color: var(--lime);
    border: 1px solid var(--lime);

}
.popup__icon-active{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: var(--check-circle);
    transition: all .5s ease;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    margin-left: 20px;

}


.popup__close {
    flex: 0 0 auto;
    align-self: start;  
      
}
.close__link {
    font-family: var(--serif);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: (--indigo);

    
}

