

.header__search {
    margin-left: 35px;
}
.search{
    display: inline-block;
    position: relative; 
    
}
.input{  
    background-color: var(--indigo);
    appearance: none;
    outline: none;
    border: none;
    border: 1px solid  var(--indigo);
    border-radius: 20px;
   
    font-family: var(--serif);
    font-style: normal;
    font-weight: 400;
    font-size: calc(var(--srf) * 0.9);
    padding-left: calc(var(--srf) * 0.9);
    color: var(--grey);
      
    transition: .3s linear;
}
.input__search{
    width: 270px;
    height: 40px;
  
  
}

.input__search:focus{
    width: 350px;
    
}
.btn{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;   
    background-image: var(--search);
    background-repeat: no-repeat;
    background-size: contain; 
    cursor: pointer;
}
.btn__search{
    
   
}
.btn:focus{
   display: none;
}

